.ticket {
  background-color: var(--color-light-100);
  border-radius: 10px;
  box-shadow: 0 0 20px var(--color-light-700);

  .butBtn {
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: #f86d32;
  }

  .currencyIcon {
    display: flex;
  }

  .currencyIcon svg {
    width: 16px;
    height: 16px;
  }
}

.priceBlock {
  padding: 25px;
  border-right: 1px solid var(--color-light-700);
}

.logoBlock {
  width: 100%;
  margin-bottom: 20px;

  img {
    width: 100%;
    max-height: 100px;
    object-fit: cover;
  }
}

.infoBlock {
  padding: 25px;
}

.price {
  display: flex;
  align-items: center;
}
